<template>
    <b-container>
        <b-row class="justify-content-center">
            <span class="err">{{err}}</span>
            <b-col cols="6" v-if="project.id == undefined">
                <b-list-group v-for="(value, index) in tasks">
                    <b-list-group-item class="m-3">
                        <b-form-checkbox v-if="value.subCol == 0" size="lg" v-model="tasks[index].completed" @change="updateTasks(value)">
                            <h4 :class="{completed: value.completed}">{{value.description}}</h4>
                        </b-form-checkbox>

                        <h4 v-if="value.subCol != 0" :class="{completed: value.completed}">{{value.description}}</h4>
                        <div v-for="(item, key in value.subtasks" inline>
                            <b-row>
                                <b-col>
                                    <b-form-checkbox size="sm" v-model="tasks[index].subtasks[key]" @change="updateSubtasks(value)">
                                        <span :class="{completed: value.completed}">{{key}}</span>
                                    </b-form-checkbox>
                                </b-col>
                                <b-col>
                                    <b-button variant="danger"  @click="deleteSubtask(tasks[index], key)">X</b-button>
                                </b-col>
                            </b-row>
                        </div>
                        <b-input-group class="m-3">
                            <b-form-input v-model="tasks[index].subNew" placeholder="New subtask"></b-form-input>
                            <b-input-group-append>
                                <b-button variant="success" :disabled="tasks[index].subNew == 0 " @click="addSubtask(tasks[index])">Add</b-button>
                            </b-input-group-append>
                        </b-input-group>
                        <b-button  variant="danger" @click="deleteTasks(tasks[index])">Delete</b-button>     
                    </b-list-group-item>
                </b-list-group> 
                <div class="m-3">
                    <b-input-group>
                        <b-form-input v-model="taskName" placeholder="New task"></b-form-input>
                        <b-input-group-append>
                            <b-button variant="success" :disabled="taskName.length == 0" @click="addTask()">Add</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </div>
            </b-col>
            <b-col cols="6" v-else>
                <b-list-group v-for="(value, index) in tasks">
                    <b-list-group-item class="m-3">
                        <b-form-checkbox v-if="value.subCol == 0 && project.user.changeTasks" size="lg" v-model="tasks[index].completed" @change="updateTasks(value)">
                            <h4 :class="{completed: value.completed}">{{value.description}}</h4>
                        </b-form-checkbox>

                        <h4 v-if="value.subCol != 0 || !project.user.changeTasks" :class="{completed: value.completed}">{{value.description}}</h4>
                        <div v-for="(item, key in value.subtasks" inline>
                            <b-row v-if="project.user.changeTasks">
                                <b-col>
                                    <b-form-checkbox size="sm" v-model="tasks[index].subtasks[key]" @change="updateSubtasks(value)">
                                        <span :class="{completed: value.completed}">{{key}}</span>
                                    </b-form-checkbox>
                                </b-col>
                                <b-col>
                                    <b-button variant="danger"  @click="deleteSubtask(tasks[index], key)">X</b-button>
                                </b-col>
                            </b-row>
                            <span v-if="!project.user.changeTasks" :class="{completed: value.completed}">{{key}}</span>
                        </div>
                        <b-input-group class="m-3" v-if="project.user.changeTasks">
                            <b-form-input v-model="tasks[index].subNew" placeholder="New subtask"></b-form-input>
                            <b-input-group-append>
                                <b-button variant="success" :disabled="tasks[index].subNew == 0 " @click="addSubtask(tasks[index])">Add</b-button>
                            </b-input-group-append>
                        </b-input-group>
                        <b-button v-if="project.user.deleteTasks" @click="deleteTasks(tasks[index])" variant="danger">Delete</b-button>
                             
                    </b-list-group-item>
                </b-list-group> 
                <div class="m-3" v-if="project.user.addTasks">
                    <b-input-group>
                        <b-form-input v-model="taskName" placeholder="New task"></b-form-input>
                        <b-input-group-append>
                            <b-button variant="success" :disabled="taskName.length == 0" @click="addTask()">Add</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import TaskServices from '@/services/TaskServices'
// eslint-disable-next-line
/* eslint-disable */
export default {
name: 'TaskList',
    data(){
        return {
            tasks: [],
            err: '',
            taskName: ''
        }
    },
    props:{
        project:{
            type: Object,
            default(){
                return {}
            }
        }
    },
    mounted(){
        this.taskGet()
    },
    methods: {
        async taskGet(){
            try{
                if(this.project.id){
                    const res = await TaskServices.getTaskByProject(this.project.id)
                    this.tasks = res.data
                    for (const key in this.tasks) {
                        this.$set(this.tasks[key], 'subCol', Object.keys(this.tasks[key].subtasks).length)
                        this.$set(this.tasks[key], 'subNew', '')
                    } 
                } else {
                    const res = await TaskServices.getTaskByUser()
                    this.tasks = res.data
                    for (const key in this.tasks) {
                        this.$set(this.tasks[key], 'subCol', Object.keys(this.tasks[key].subtasks).length)
                        this.$set(this.tasks[key], 'subNew', '')
                    }    
                }
            } catch (e) {
                if(e.response == undefined){
                    console.error(e)
                } else if (e.response.status == 401) {
                    delete localStorage.user
                    this.$router.push('/user/login')
                } else {
                    this.err = e.response.data
                }
            }
        },
        async addTask(){
            try{
                if(this.project.id){
                    if(this.project.user.addTasks){
                        const res = await TaskServices.taskAdd({
                            description: this.taskName,
                            project: this.project.id
                        })
                        this.taskGet() 
                    }
                } else {
                    const res = await TaskServices.taskAdd({
                        description: this.taskName,
                        owner: localStorage.user
                    })
                    this.taskGet()
                }
            } catch (e) {
                if(e.response == undefined){
                    console.error(e)
                } else if (e.response.status == 401) {
                    delete localStorage.user
                    this.$router.push('/user/login')
                } else {
                    this.err = e.response.data
                }
            }
        },
        async updateTasks(task){
            try{
                if(this.project.id && !this.project.user.changeTasks){
                    return
                }
                const res = await TaskServices.taskUpdate(task.id,task)
                this.taskGet()
            } catch (e) {
                if(e.response == undefined){
                    console.error(e)
                } else if (e.response.status == 401) {
                    delete localStorage.user
                    this.$router.push('/user/login')
                } else {
                    this.err = e.response.data
                }
            }
        },
        async deleteTasks(task){
             try{
                if(this.project.id && !this.project.user.deleteTasks){
                    return
                }
                const res = await TaskServices.taskDelete(task.id)
                this.taskGet()
            } catch (e) {
                if(e.response == undefined){
                    console.error(e)
                } else if (e.response.status == 401) {
                    delete localStorage.user
                    this.$router.push('/user/login')
                } else {
                    this.err = e.response.data
                }
            }
        },
        async addSubtask(task){
            try{
                if(this.project.id && !this.project.user.changeTasks){
                    return
                }
                var name = task.subNew
                if (task.subtasks[name] != undefined){
                    return
                }
                this.$set(task.subtasks, name, false)
                console.log(task.subtasks)
                const res = await TaskServices.subtaskUpdate(task.id,task.subtasks)
                task.subNew = ''
                this.taskGet()
            } catch (e) {
                if(e.response == undefined){
                    console.error(e)
                } else if (e.response.status == 401) {
                    delete localStorage.user
                    this.$router.push('/user/login')
                } else {
                    this.err = e.response.data
                }
            }
        },
        async updateSubtasks(task){
            try{
                if(this.project.id && !this.project.user.changeTasks){
                    return
                }
                const res = await TaskServices.subtaskUpdate(task.id,task.subtasks)
                this.taskGet()
            } catch (e) {
                if(e.response == undefined){
                    console.error(e)
                } else if (e.response.status == 401) {
                    delete localStorage.user
                    this.$router.push('/user/login')
                } else {
                    this.err = e.response.data
                }
            }
        },
        async deleteSubtask(task, item){
            try{
                if(this.project.id && !this.project.user.changeTasks){
                    return
                }
                const res = await TaskServices.subtaskDelete(task.id,[item])
                this.taskGet()
            } catch (e) {
                if(e.response == undefined){
                    console.error(e)
                } else if (e.response.status == 401) {
                    delete localStorage.user
                    this.$router.push('/user/login')
                } else {
                    this.err = e.response.data
                }
            }
        }
    }
}
</script>

<style>
    .err{
        color: red
    }
    .completed{
        text-decoration: line-through
    }
    span{
        font-size:  10pt
    }
</style>