<template>
  <b-container>
    <b-row class="justify-content-center">
      <b-col cols="12" md="12">
        <h3>Members</h3>
        <b-form class="form" @submit.stop.prevent>
            <span class="err">{{err}}</span>
            <div class="m-3">
                <b-input-group>
                    <b-form-input v-model="memInput" placeholder="User e-mails separated by space"></b-form-input>
                    <b-input-group-append>
                        <b-button variant="success" :disabled="memInput.length == 0" @click="findUsers()">Find</b-button>
                    </b-input-group-append>
                </b-input-group>
            </div>
            <b-list-group class="m-3" v-for="(value, index) in members">
                <b-list-group-item>
                    {{value.name}}
                    <b-dropdown variant="outline-primary" dropright>
                        <b-dropdown-form >
                            <b-form-checkbox size="sm" v-model="members[index].addMembers" switch>Can add members</b-form-checkbox>
                            <b-form-checkbox size="sm" v-model="members[index].changeMembers"  switch>Can change members</b-form-checkbox>
                            <b-form-checkbox size="sm" v-model="members[index].deleteMembers" switch>Can delete members</b-form-checkbox>
                            <b-form-checkbox size="sm" v-model="members[index].changeProject"  switch>Can change project</b-form-checkbox>
                            <b-form-checkbox size="sm" v-model="members[index].deleteProject" switch>Can delete project</b-form-checkbox>
                            <b-form-checkbox size="sm" v-model="members[index].addTasks" switch>Can add tasks</b-form-checkbox>
                            <b-form-checkbox size="sm" v-model="members[index].changeTasks" switch>Can change tasks</b-form-checkbox>
                            <b-form-checkbox size="sm" v-model="members[index].deleteTasks" switch>Can delete tasks</b-form-checkbox>
                        </b-dropdown-form>
                    </b-dropdown>
                </b-list-group-item>
            </b-list-group>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
// eslint-disable-next-line
/* eslint-disable */
import UserServices from '@/services/UserServices'
export default {
    name: 'FindMembers',
    data(){
        return {
            members: {},
            memInput: '',
            err: '',
        }
    },
    methods: {
        async findUsers() {
            try{
                var res = await UserServices.userFindByEmail(this.memInput)
                for (var i = 0; i< res.data.length; i++) {
                    var id = res.data[i].id
                    if (this.members[id] == undefined) {
                        this.$set(this.members, id, {
                            addMembers: false,
                            changeMembers: false,
                            deleteMembers: false,
                            changeProject: false,
                            deleteProject: false,
                            addTasks: true,
                            changeTasks: true,
                            deleteTasks: true,
                            name: `${res.data[i].name}  (${res.data[i].email})`
                        })
                    }
                }
                this.$emit('inputMembers', this.members)
            } catch(e) {
                console.error(e.response)
            }
            
        }
    }
}
</script>

<style>
    .err{
            color: red
        }
</style>